# Composer
/vendor/
composer.lock

# PHPUnit
.phpunit.cache/
.phpunit.result.cache

# PHP-CS-Fixer
.php-cs-fixer.cache

# PHPStan
phpstan.neon.cache

# IDEs
/.idea/
/.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Tests
/build/
/coverage/
